.SiteMapLists {
  padding: 0;
  margin: 0;
  list-style: none;
}
.SiteMapLists li {
  padding: 0.5rem;
}
.SiteMapLink {
  padding: 10px;
  margin: 10px;
  border-radius: 45px;
  display: block;
  background-color: #35a2ff;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.2s;
}
.SiteMapLink:hover {
  color: #00e1a9;
}
