.SiteMapLists {
  padding: 0;
  margin: 0;
  list-style: none;
}
.SiteMapLists li {
  padding: 0.5rem;
}
.SiteMapLink {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s;
}
.SiteMapLink:hover {
  color: #0d6efd;
}
